.auth-body {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.auth-container {
  background: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-logo {
  height: 50px;
  margin-bottom: 15px;
}

.auth-form input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.auth-form button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  background-color: #2193b0;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #1b7b94;
}
